/*.gitmodules
/XServer/.idea/*
/XServer/bins/*
/XServer/vendor/*
/XServerClient/Library/*
/XServerClient/obj/*
/XServerClient/Temp/*
/XServerClient/Logs/*
/XServerClient/Packages/*
/XServerClient/.idea/*

!/XServerClient/Packages/manifest.json