<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.28.3" manuallyInstalled="true" />
  <package id="Google.Protobuf.Tools" version="3.28.3" manuallyInstalled="true" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" manuallyInstalled="true" />
  <package id="Grpc" version="2.46.6" manuallyInstalled="true" />
  <package id="Grpc.Core" version="2.46.6" />
  <package id="Grpc.Core.Api" version="2.46.6" />
  <package id="Grpc.Tools" version="2.46.6" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>